* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8ebe4;
}

main {
    display: flex;
    min-height: 100vh;

}

aside {
    width: 20%;
    margin-top: 3px;
    margin-left: 5px;
    flex: 0 0 21%;
}

section {
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.principal {
    display: flex;
    flex-direction: column;
}

.principal img {
    height: 200px;
}

.maria {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.maria-right {
    display: flex;
    align-items: center;
    width: 50px;
}

.maria-right ul {
    list-style: none;
    color: #bec1bb;
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

.maria-right li {
    margin: 3px;
}

.maria-left {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: small;
    align-items: center;
}

.maria-img {
    width: 50px;
    padding: 10px;
}

.maria-left p {
    margin-bottom: 0;
    font-size: 12px;
}

.letra-clara {
    font-weight: 100;
}

.maria-left img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.maria, .button {
    border: solid 1px #e8ebe4;
    background-color: #fff;
}

.users-container {
    display: flex;
    border: solid 1px #e8ebe4;
    background-color: #fff; 
    align-items: center;
    height: 70px;
}

.users-container img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover; 
}

.users-container p {
    margin-bottom: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button {
    margin: 20px;
    background-color: #a491d2;
    border: transparent;
    width: 150px;
}

.button button:hover {
    background-color: #cdc3e6;
}

.users p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: small;
    font-style: normal;
}


.user-img {
    width: 50px;
    padding: 10px;
}